.section {
  position: relative;
  padding: 120px 0;
  background-image: url("/images/cta/home-page-banner.webp");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  width: 100%;
  border-top: 1px solid var(--color-grey-700);
}

.inner {
  position: relative;
  max-width: var(--content-width);
  margin: 0 auto;
  padding-inline: var(--page-padding);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 62px;
}

.heading {
  font-family: var(--font-primary);
  font-size: 56px;
  font-weight: 600;
  line-height: 72px;
  color: var(--color-white);
  margin: 0;
  text-align: left;
  width: 23ch;
}

.accent {
}

.subtitle {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  color: #D1D1D1;
  text-align: center;
}

.logos {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  height: 34px;
  width: auto;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

@media (max-width: 1023px) {
  .section {
    padding: 80px var(--page-padding);
  }

  .inner {
    gap: 40px;
  }

  .heading {
    font-size: 40px;
    line-height: 48px;
  }

  .logos {
    gap: 20px;
  }
}
