/* StatsSection.module.css */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-40);
  text-align: center;
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-32);
  }
}
